@page
@model NavQurt.Server.Areas.Admin.Pages.Roles.CreateModel
@{
    ViewData["Title"] = "Create role";
}

<h1 class="h3">Create role</h1>

<form method="post" class="col-lg-6">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Input.Name" class="form-label"></label>
        <input asp-for="Input.Name" class="form-control" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.DisplayName" class="form-label"></label>
        <input asp-for="Input.DisplayName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-link">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
