@page
@model NavQurt.Server.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<h1 class="h3">Admin</h1>
<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-page="/Users/Index">Users</a>
    <a class="list-group-item list-group-item-action" asp-page="/Roles/Index">Roles</a>
    <a class="list-group-item list-group-item-action" asp-page="/OpenIdApplications/Index">OpenId clients</a>
</div>
