@page
@model NavQurt.Server.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="p-4 border rounded-2">
    <h1 class="h3">NavQurt</h1>
    <p class="mb-0">Base Identity, OpenIddict and Razor Pages setup is ready.</p>
</div>
