@page "/login2"
@model NavQurt.Server.Pages.Login2Model
@{
    ViewData["Title"] = "Admin Login";
    Layout = "/Areas/Identity/Pages/Shared/_Layout.cshtml";
}

<div class="login-card">
    <form method="post" class="theme-form login-form">
        <h4 class="text-center mb-5">Admin kirish</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
        <input type="hidden" asp-for="ReturnUrl" />

        <div class="form-group">
            <label asp-for="Input.UserName" class="form-label">Username</label>
            <div class="input-group">
                <span class="input-group-text"><i class="icofont icofont-user"></i></span>
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
            </div>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Password" class="form-label">Password</label>
            <div class="input-group">
                <span class="input-group-text"><i class="icofont icofont-ui-password"></i></span>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <input asp-for="Input.RememberMe" />
                <label asp-for="Input.RememberMe">Eslab qolish</label>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Kirish</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
