@page
@model NavQurt.Server.Areas.Admin.Pages.Users.CreateModel
@{
    ViewData["Title"] = "Create user";
}

<h1 class="h3">Create user</h1>

<form method="post" class="col-lg-6">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Input.UserName" class="form-label"></label>
        <input asp-for="Input.UserName" class="form-control" />
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.PhoneNumber" class="form-label"></label>
        <input asp-for="Input.PhoneNumber" class="form-control" />
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="Input.FirstName" class="form-label"></label>
            <input asp-for="Input.FirstName" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Input.LastName" class="form-label"></label>
            <input asp-for="Input.LastName" class="form-control" />
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Role" class="form-label"></label>
        <select asp-for="Input.Role" asp-items="Model.RoleOptions" class="form-select">
            <option value="">No role</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-link">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
